
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


{% include 'base.html' %}
<br><br>
<div class="container bg-white shadow-md p-5 form-layout">
    
    
    


    <h2>Doing To-Do </h2><hr>
    
    <p> Welcome, to Doing To-Do <br><br> Your personal task manager Application! </p>

</div>

</html>


