
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks Page</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<br><br>

    
    {% include 'base.html' %}
    
    <center> <h3>This Is My Tasks Page</h3> </center>
    <hr>

    {% for tsk in task %}

    <div class="container bg-white shadow-md p-5 form-layout" style="margin-top: 20px; ">

        {{tsk.title}}
        <br>
        {{tsk.content}}
        
    </div>
    <br>
    {% endfor%}
    

</html>